h1 {
    font-weight: 300;
    font-family: Roboto, sans-serif;
    text-align: center;
}

table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th {
    height: 2rem;
    text-align: left;
    color: #1db954; 
    background-color: #d3d3d3;
    
}

tbody td img{
    width: 100px;
    height: 100px;
}

th, td {
    padding: .5em;
    border-bottom: 1px solid #d3d3d3;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}

tbody tr:hover {
    background-color: pink;
}